.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 101vh;
  background-color: #2ecc71;
}
.projects-text h3 {
  color: white;

  margin: 0;
  padding-top: 50px;
  font-size: 2rem;
  text-align: center;
}

.projects-text p {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  padding: 25px;
  max-width: 1000px;
}
