@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(85, 155, 221);
  background: linear-gradient(
    180deg,
    rgba(85, 155, 221, 1) 61%,
    rgba(46, 204, 113, 1) 100%
  );
}

.skills-text-container {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10% 5% 0 5%;
  border-radius: 20px;
  background: #559bdd;
  box-shadow: 14px 14px 41px #4884bc, -14px -14px 41px #62b2fe;
  padding: 20px;
  max-width: 1000px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 10% 0 10% 0;
}

.grid-item {
  padding: 20px;
  border-radius: 20px;
  background: #559bdd;
  box-shadow: 14px 14px 41px #4884bc, -14px -14px 41px #62b2fe;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover {
  background: #6fb0ec;
}

.card-icon-container {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.card-text {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

@media only screen and (max-width: 420px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
