.footer {
  height: 60px;
  /* background: rgb(50, 200, 226);
  background: radial-gradient(
    circle,
    rgba(50, 200, 226, 1) 70%,
    rgba(127, 255, 212, 1) 100%
  ); */
  background: rgb(50, 200, 226);
  background: radial-gradient(
    circle,
    rgba(50, 200, 226, 1) 30%,
    rgba(127, 255, 212, 1) 100%
  );
  border-top: 2px solid rgb(75, 226, 236);
}

.footer-icon-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.footer-icon-container a {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
}

.footer-icon-container a:hover {
  transform: rotateY(360deg);
  cursor: pointer;
}
