/* STRT Navbar STRT */
* {
  box-sizing: border-box;
}
.nav-container {
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(30, 30, 73, 0.048);
  backdrop-filter: blur(8px);
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}

/* Sidebar Menu */
.sidebar-menu {
  display: flex;
  position: fixed;
  top: 60px;
  right: -150%;
  z-index: 10;
  flex-direction: column;
  text-align: center;
  min-height: 268px;
  height: 45vh;
  max-height: 268px;
  width: 35vh;
  background-color: rgba(30, 30, 73, 0.048);
  border-bottom-left-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.082);
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(8px);
}

/* Slides the navbar into position */
.sidebar-menu.active {
  right: 0;
}

.sidebar-menu .link {
  color: white;
  text-decoration: none;
  padding: 10px 5px 10px 5px;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}

.sidebar-menu .link:hover {
  background-color: rgba(252, 252, 252, 0.068);
  font-size: 1.1rem;
}

/* END Navbar END */

/* STRT Icons STRT */
.brand-icon {
  height: 60px;
  padding-top: 5px;
  padding-left: 10px;
  cursor: pointer;
}

/* Fix so cursor is only on menu icon */

.close-menu {
  padding-right: 25px;
  color: white;
  font-size: 3.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in;
  /*   pointer-events: none; */
}

.close-menu.active {
  display: none;
}

.hamburger-menu {
  padding-right: 25px;
  color: white;
  font-size: 3.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.hamburger-menu.active {
  display: none;
}

.sidebar-menu-icons {
  color: white;
}

/* Link icons */
.link-icon {
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
  margin-right: 10px;
  color: white;
}

/* Make increase font-size when hover-effect is active on links. How? */
.link-icon.link:hover {
  font-size: 1.4rem;
}
.menu-icon {
  font-size: 1.6rem;
  margin: 10px 5px 10px 5px;
  transition: 0.4s ease-in-out;
  margin: 10px;
}

.menu-icon:hover {
  transform: rotateY(360deg);
  cursor: pointer;
}

/* END Icons END */
